.App {
  text-align: center;
}
.form{
  padding-top: 3.5rem;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.container
{
  width:50%;
  margin:auto;
}
.sel{
  position: relative;
  display: block;
  width: 15%;
  margin: 0 auto;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  color: #000000;
}
@media screen  and (max-width: 900px){
  .sel{
  width:45%;
  }
}
label
{
  font-size: 20px;
}

img{
  width: unset !important;
  margin:auto;
  padding:20px;
  max-width: 100%;
  height: auto;
}