@import url('https://fonts.googleapis.com/css?family=Cairo|Poppins&display=swap');


.button{
  margin:auto;
  padding:20px;
  text-Decoration:none,;
  background:none;
  border:none;
  padding:20px;
  outline:none;
  font-size: 1.25rem;
}
.btn{
  display: block;
  width:100px;
  padding: 20px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  /*background-color: #0A79DF;*/
  background-color:#000000;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #272424;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.sel{
  border: 0;
  font: 30px;
  font-family: 'Cairo', sans-serif;
}

