.Grid{
    margin: 30px auto;
    padding: 0 20px;
    width: 100%; 
    box-sizing: border-box;
    display: grid;
    /* Define Auto Row size */
    grid-auto-rows: 25px;   /*Define our columns */
    grid-template-columns: auto auto auto;
    grid-gap: 70px;
  }
  @media screen and (max-width:900px)
  {
    .Grid{
      grid-auto-rows: 90px;  /*Define our columns */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    grid-gap: 20px;
  
    }
  }
  article {
    border-radius: 10px;
    padding: 35px;
    color: #fff;
    font-size: 20px;
  }
  
  article:nth-child(odd) {
    background-color: #55BBE9;
  }
  
  article:nth-child(even) {
    background-color: #2bbe5c;
  }

  img{
    width:10%;
    align-content: center;
  }