.sidenav {
    width: 297px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2196F3;
    overflow-x: hidden;
  
  }
  
  .header_1 h1
  {
    font-size:30px;
    padding:2px 10px;
    font-family:Roboto;
    margin-top:-20px;
  }
  .sidenav a, .dropdown-btn
   {
    padding: 10px 10px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    color: #ffffff;
    border:1px solid #eee;
    display: block;
    background-color:#2196F3;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  .sidenav a:hover, .dropdown-btn:hover {
   background-color: #555;
  }
  .active {
    background-color: #555555;
    color: white;
  }
  .dropdown-container {
    display:none;
    background-color: #262626;
    padding-left: 0px;
  }
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  @media screen and (max-height: 680px) {
    .sidenav a {font-size: 18px;}
  }