/*.App {
  text-align: center;
}*/

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 35px;
  float:left;
  margin-top: -1px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}
a{
  text-decoration: none;
  color: antiquewhite;
  margin-top: auto;
}
h2{
  
  margin-top: auto;
}


.App-intro {
  font-size: large;
}

.App-intro a{
  color: #222;
  text-decoration: underline;
}
p{
  text-align: center;
  color: aliceblue;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
